{% extends "accounts/dashboard.html" %}
{% load i18n %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans "Editar senha" %}</li>
{% endblock %}

{% block dashboard_content %}
<form class="form" method="POST">
    {% csrf_token %}
    {% if success %}
    <div class="alert success">{% trans "Senha alterada com sucesso." %}</div>
    {% endif %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="button primary">{% trans "Alterar senha" %}</button>
    </div>
</form>
{% endblock %}
