{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li>Editar senha</li>
{% endblock %}

{% block dashboard_content %}
<form class="form" method="POST">
    {% csrf_token %}
    {% if success %}
    <div class="alert success">Senha alterada com sucesso.</div>
    {% endif %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="button primary">Alterar senha</button>
    </div>
</form>
{% endblock %}
