{% extends "cursos/cursos_dashboard.html" %}
{% load i18n %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'cursos:aulas' curso.slug %}">{% trans "Aulas" %}</a></li>
    <li>{{ aula }}</li>
{% endblock %}

{% block dashboard_content %}
<div class="card">
    <h2>{{ aula }}</h2>
    {{ aula.descricao|linebreaks }}

    <div class="section-header" style="margin-top: 20px;">
        <h3>{% trans "Materiais da aula" %}</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "Nome" %}</th>
                <th>{% trans "Ação" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for material in aula.material.all %}
            <tr>
                <td>{{ material }}</td>
                <td>
                    {% if material.is_embutido %}
                    <a href="{% url 'cursos:material' curso.slug material.pk %}">{% trans "Acessar" %}</a>
                    {% else %}
                    <a target="_blank" href="{{ material.arquivo.url }}">{% trans "Baixar" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
