{% extends "cursos/cursos_dashboard.html" %}
{% load i18n %}

{% block dashboard_content %}
<div class="card">
    <h3>{% trans "Confirmar cancelamento da inscrição?" %}</h3>
    <p class="muted">{% trans "Você pode se inscrever novamente quando quiser." %}</p>
    <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="button danger">{% trans "Confirmar" %}</button>
            <a href="{% url 'cursos:anuncios' curso.slug %}" class="button light">{% trans "Voltar" %}</a>
        </div>
    </form>
</div>
{% endblock dashboard_content %}
