{% extends "accounts/dashboard.html" %}

{% load static %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{{ curso }}</li>
{% endblock %}

{% block menu_options %}
<li class="sidebar-title">{{ curso }}</li>
<li>
    <a href="{% url 'cursos:aulas' curso.slug %}">
        <i class="fa fa-video-camera"></i>
        Aulas e materiais
    </a>
</li>
<li>
    <a href="{% url 'cursos:anuncios' curso.slug %}">
        <i class="fa fa-bullhorn"></i>
        Anúncios
    </a>
</li>
<li>
    <a href="{% url 'forum:forum_index' %}">
        <i class="fa fa-comments-o"></i>
        Fórum de dúvidas
    </a>
</li>
{{ block.super }}
{% endblock menu_options %}
